<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Item Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Item Catalog</h2>
      <table class="table table-striped">
        <thead>
          <th>Item ID</th>
          <th>Origin</th>
          <th>Description</th>
          <th>Cost</th>
        </thead>
        <tbody>
          <% for(var i=0; i < items.length; i++) {%>
             <tr>
               <td><%= items[i].item_id %></td>
               <td><%= items[i].country_of_origin %></td>
               <td><%= items[i].description %></td>
               <td><%= items[i].cost %></td>
             </tr>
             <% } %>
      </table>
    </div>
  </body>
</html>
